<div class="container">
  <div class="todo-list">
    <!--one way binding-->
    <h1>{{title}}</h1>
    <div class="input-group">
      <input type="text" placeholder="Todo" />
      <!--event binding-->
      <button class="add-button" (click)="add()">+</button>
    </div>
    <table>
      <!--ngFor-->
      <tr *ngFor = "let task of tasks" class="even">
        <td>
          <pre>{{task}}</pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>

    </table>
  </div>
</div>
<router-outlet></router-outlet>
