<div class="container">
  <div class="todo-list">
    <!--one way binding-->
    <h1>{{title}}</h1>
    <!--#newTask is a local referencing-->
    <div class="input-group">
      <input type="text" placeholder="Todo" #newTask/>
      <!--event binding-->
      <button class="add-button" (click)="add(newTask.value)" >+</button>
    </div>
    <table>
      <!--ngFor-->
      <tr *ngFor = "let task of tasks" class="even">
        <td>
          <pre>{{task.title}}</pre>
        </td>
        <td>
          <button class="remove-button"
                  (click)="remove(task)">X</button>
          <button class="done-button" (click)="markAsDone(task)">Done</button>
        </td>
      </tr>

    </table>
  </div>
</div>
<router-outlet></router-outlet>
